body {
  background-size: cover;
  background-attachment: fixed;
}
a {
color: white !important;
font-family: arial;
}
.list-unit .list-status-title .text {
  color: white !important;
  font-family: arial;
}
.list-unit .list-status-title {
  background-color: transparent !important;
}
.list-table .list-table-data .data a{
color: white !important;
font-family: arial;
}
body{
color: silver !important;
font-family: arial;
}
.list-table .list-table-data .tags .edit{
color: white !important;
font-family: arial;
}
a:hover,
.list-table .list-table-data .data a:hover{
color: cyan !important;
}
.status-menu-container{
  background-color: rgba(0,50,150,.8) !important;
   border: 1px white solid !important;
}
.list-block{
  background-color: rgba(0,50,150,.6) !important;
   border: 1px white solid !important;
}
tbody[class*="list-item"]:hover,
.list-table tbody:nth-of-type(2n+1):hover {background-color:rgba(0,0,0,.5) !important;}

.list-table > tbody:nth-of-type(2n+1),
.list-table, .list-container,
.list-table .list-table-header .header-title{
  background-color: transparent !important;
     border: 0 transparent solid !important;
}
.list-table .list-table-data .data{
  border: 0 transparent solid !important;
}
.status-menu-container {
    border-bottom: transparent 0 solid;
}


#footer-block {
display: none;
}
